@@include('templates/header.html', {
    "title": "Boilerplate"
})

    <% if (demoBuildSystem === "yes") { %>
        <div class="js-demoView">
            <div class="js-demoView-card demo-card">
                <div class="demo-card-front">
                    <div>Awww.</div>The JavaScript boilerplate has not been initialized :-(
                </div>
                <div class="demo-card-back">
                    <div>Success!</div>The JavaScript boilerplate has been initialized!
                </div>
            </div>
        </div>
    <% } %>

@@include('templates/footer.html')
