{{#extend "layout"}}

    {{#content "body" mode="append"}}

        <% if (demoBuildSystem === "yes") { %>
            <div class="js-demoView">
                <div class="js-demoView-card demo-card">
                    <div class="demo-card-front">
                        <div>Awww.</div>The JavaScript boilerplate has not been initialized :-(
                    </div>
                    <div class="demo-card-back">
                        <div>Success!</div>The JavaScript boilerplate has been initialized!
                    </div>
                </div>
            </div>
        <% } else { %>
            <h1>Welcome</h1>
            <p>
                Star my project <a href="https://github.com/codeBelt/slush-project" target="_blank">slush project</a>
            </p>
        <% } %>

    {{/content}}

{{/extend}}
